.navbar-custom {
    background-color: #fff;
}

.navbar-custom .dropdown-menu {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    display: none;
    visibility: hidden;
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 0px;
  }
  
  .navbar-custom .dropdown-menu.show {
    opacity: 1;
    visibility: visible;
  }

  .navbar-custom .nav-item.dropdown:hover .nav-link {
    border-bottom: 4px solid #009929;
    color: #009929;
    transition: border-bottom 0.3s ease-in-out;
  }

  .navbar-custom .nav-link:hover {
    border-bottom: 4px solid #009929;
    color: #009929;
    transition: border-bottom 0.3s ease-in-out;
  }

  .navbar-custom .dropdown-item:hover {
    background-color: #009929;
    margin: 0px 0px 0px 0px!important;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
  }

